@model IEnumerable<CQRSCode.Read.Model.Captains.Dtos.CaptainDto>
@{
    ViewData["Title"] = "Home Page";
}

<h2>All items:</h2>
<ul>
    @foreach (var captain in Model)
{
    <li>
        @Html.ActionLink("CaptainId: " + captain.CaptainId.ToString(), "Details", new { Id = captain.CaptainId })
    </li>
}
</ul>
@Html.ActionLink("Add", "Add")
